/*common*/

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #f6f5f5;
}

a:hover {
  color: #4ab483;
}

a.brand {
  color: #f6f5f5;
  font-size: 2rem;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

/*grid layout*/

.grid-container {
  display: grid;
  grid-template-areas:"header" "main" "footer"; 
  grid-template-columns: 1fr ;
  grid-template-rows: 5rem 1fr 3rem;
  height: 100vh;
}

header {
  grid-area: header;
  background-color: #16213e;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: #16213e;
  color: #c4c2c2;
}

/*grid-layout top*/

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.row > * {
  margin : 1rem;
}

.row.center {
  justify-content: center;
}

.nav > *{
  margin-right: 1rem;
}

/*product section*/

.card {
  margin: 20px;
  border: solid darkblue;
  border-radius: 0.5rem;
  box-shadow: 10px 5px 5px gray;
  height: 40rem;
}

.card img {
  max-width: 250px;
  margin: 1rem;
}

.card a {
  color: rgb(68, 60, 156);
}

.card a:hover {
  color: #4ab483
}

/*product screen*/

img.large {
  max-width: 500px;
  border-radius: 5%;
}

.col-2 {
  flex: 2;
  text-align: center;
}

.col-1 {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.instock {
  color: green;
}

.soldout {
  color: red;
}